---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_77.0.3865
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 20 Aug 2019 18:02:50 GMT
      Etag:
      - '"32e80dfee0af120f7f94bbb85e52b845"'
      X-Goog-Generation:
      - '1566324170948144'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '12'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=hx6yuw==
      - md5=MugN/uCvEg9/lLu4XlK4RQ==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 77.0.3865.40
  recorded_at: Thu, 03 Oct 2019 05:57:02 GMT
- request:
    method: get
    uri: https://api.github.com/gists/f98759463ccbd9ebc42ea503c80ffa34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1570085828'
      Etag:
      - W/"4f03ba8c4eb871b519f638923a34d204"
      Last-Modified:
      - Sat, 28 Sep 2019 07:12:09 GMT
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/f98759463ccbd9ebc42ea503c80ffa34","forks_url":"https://api.github.com/gists/f98759463ccbd9ebc42ea503c80ffa34/forks","commits_url":"https://api.github.com/gists/f98759463ccbd9ebc42ea503c80ffa34/commits","id":"f98759463ccbd9ebc42ea503c80ffa34","node_id":"MDQ6R2lzdGY5ODc1OTQ2M2NjYmQ5ZWJjNDJlYTUwM2M4MGZmYTM0","git_pull_url":"https://gist.github.com/f98759463ccbd9ebc42ea503c80ffa34.git","git_push_url":"https://gist.github.com/f98759463ccbd9ebc42ea503c80ffa34.git","html_url":"https://gist.github.com/f98759463ccbd9ebc42ea503c80ffa34","files":{"test":{"filename":"test","type":"text/plain","language":null,"raw_url":"https://gist.githubusercontent.com/glebson1988/f98759463ccbd9ebc42ea503c80ffa34/raw/a0292b70864a669b5a95942db2434787580c163a/test","size":7,"truncated":false,"content":"qnatest"}},"public":true,"created_at":"2019-09-24T06:59:46Z","updated_at":"2019-09-24T06:59:46Z","description":"","comments":0,"user":null,"comments_url":"https://api.github.com/gists/f98759463ccbd9ebc42ea503c80ffa34/comments","owner":{"login":"glebson1988","id":18693912,"node_id":"MDQ6VXNlcjE4NjkzOTEy","avatar_url":"https://avatars3.githubusercontent.com/u/18693912?v=4","gravatar_id":"","url":"https://api.github.com/users/glebson1988","html_url":"https://github.com/glebson1988","followers_url":"https://api.github.com/users/glebson1988/followers","following_url":"https://api.github.com/users/glebson1988/following{/other_user}","gists_url":"https://api.github.com/users/glebson1988/gists{/gist_id}","starred_url":"https://api.github.com/users/glebson1988/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/glebson1988/subscriptions","organizations_url":"https://api.github.com/users/glebson1988/orgs","repos_url":"https://api.github.com/users/glebson1988/repos","events_url":"https://api.github.com/users/glebson1988/events{/privacy}","received_events_url":"https://api.github.com/users/glebson1988/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"glebson1988","id":18693912,"node_id":"MDQ6VXNlcjE4NjkzOTEy","avatar_url":"https://avatars3.githubusercontent.com/u/18693912?v=4","gravatar_id":"","url":"https://api.github.com/users/glebson1988","html_url":"https://github.com/glebson1988","followers_url":"https://api.github.com/users/glebson1988/followers","following_url":"https://api.github.com/users/glebson1988/following{/other_user}","gists_url":"https://api.github.com/users/glebson1988/gists{/gist_id}","starred_url":"https://api.github.com/users/glebson1988/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/glebson1988/subscriptions","organizations_url":"https://api.github.com/users/glebson1988/orgs","repos_url":"https://api.github.com/users/glebson1988/repos","events_url":"https://api.github.com/users/glebson1988/events{/privacy}","received_events_url":"https://api.github.com/users/glebson1988/received_events","type":"User","site_admin":false},"version":"7b0ea075c9ab13d79c7c30486f57b9da9a764d33","committed_at":"2019-09-24T06:59:45Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/f98759463ccbd9ebc42ea503c80ffa34/7b0ea075c9ab13d79c7c30486f57b9da9a764d33"}],"truncated":false}'
  recorded_at: Thu, 03 Oct 2019 05:57:08 GMT
recorded_with: VCR 5.0.0
